// compress: false
@import '3L/3L';
.normalize();

@menuclosed:20px;
@menuopen:200px;
@bgc: #000;
@fc: #FFF;

html,body {
	height: 100%;
	.box-sizing(border-box);
}
// Main layout
body {
	font-family: "Courier New", Courier, monospace;
	.display-flex();
	.flex-direction(column);
	.justify-content(flex-start);
	margin-left:@menuclosed;
	>main {
		.flex(1);
	}
}

body > menu {
	.user-select(none);
	.box-sizing(border-box);
	text-align:center;
	margin:0px;
	padding:0px;
	position:fixed;
	left:0px;
	top:0px;
	width:@menuclosed;
	height:100%;
	background:@bgc;
	color: @fc;
	.transition(width 0.3s ease-in-out);
	>label{
		display:block;
		border:1px solid white;
		margin:2px;
	}
}
body > menu.active {
	width:@menuopen;
}

// Initialize Flexbo on relevant containers
body > nav, main {
	.display-flex();
	.flex-direction(row);
}

// Tab content layout
main {
	background: @bgc;
	.justify-content(space-between);
	>section {
		.box-sizing(border-box);
		.flex(1);
		.border-radius(10px);
		background: #FFF;
		margin: 4px;
		padding:4px;
		// Warning: Here be dragons
		.transition(all 0.6s ease-in-out);
		&.inactive {
			.flex(0 0px);
			color: rgba(255,255,255,0);
			margin: 4px 0;
			padding:0;
		}
		&.active {
			.flex(1);
			background:#FEF;
			color: rgba(0,0,0,1);
			margin: 4px;
			padding:4px;
		}
	}
}
body > nav {
	.user-select(none);
	.justify-content(flex-start);
	>label {
		font-size: 0.7em;
		margin: 0px 4px;
		margin-top:4px;
		padding: 4px;
		background: @bgc;
		color: @fc;
		&.active {
			font-size:1.1em;
		}
	}
	>label::after{
		content: "x";
		margin-left:4px;
	}
}
body > footer {
	padding: 1px 30px;
	background:@bgc;
	color:@fc;
	font-size: 0.7em;
}
